<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class=" col-sm-6 pull-left">
    <button type="button" id="sidebarCollapse" class="btn btn-info">
      <i class="fa fa-align-justify" aria-hidden="true"></i>
    </button>
  </div>
  <div class="col-sm-6 pull-right">
    <ul class="navbar-nav">
      <li>
        <a class="navbar-brand">
          <img src="http://www.bobmazzo.com/wp-content/uploads/2009/07/bobmazzoCD.jpg" width="30" height="30">
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navDropDownLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" style="padding-right: 35px;">
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navDropDownLink">
          <a class="dropdown-item">Home</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="Logout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Attendence</h3>
    </div>
    <ul class="list-unstyled components">
      <li class="active">
        <a routerLink="Dashboard">Dashboard</a>
      </li>
      <li>
        <a routerLink="aboutUs">About</a>
      </li>
      <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a href="#">Page 1</a>
          </li>
          <li>
            <a href="#">Page 2</a>
          </li>
          <li>
            <a href="#">Page 3</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Portfolio</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>

  </nav>
  <div class="content-div">
    <router-outlet></router-outlet>
  </div>
</div>