<div class="row">
  <div class="col-sm-12">
    <div class="columns">
      <div class="column is-one-third">
        <label class="control">Filter items
          <input type="text" class="input"  [(ngModel)]="filterText">
        </label>
      </div>
    </div>

    <div class="clearfix">
      <table class="table" id="myTable2">
        <thead>
          <tr>
            <th style="z-index: 10000;" (click)="sortTable(0)">First Name</th>
            <th (click)="sortTable(1)">Last Name</th>
            <th (click)="sortTable(2)">Avatar</th>
            <th (click)="sortTable(3)">Action</th>
          </tr>


        </thead>
        <tbody>
          <tr
            *ngFor="let item of collection |  paginate: { id: 'server', itemsPerPage: 3, currentPage: p, totalItems: total } | filter: filterText ">
            <td> {{ item.first_name }}</td>
            <td> {{ item.last_name }}</td>
            <td> {{ item.avatar }}</td>
            <td><button type="button" class="btn btn-danger" (click)="deleteItem($event,item.id)">Delete</button> </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="has-text-centered">
      <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
      <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
    </div>
  </div>
</div>